
@font-face {
    font-family: 'modista';
    src: url('../assets/fonts/ModistaProMedium-E4YG9.otf') format('opentype');
    font-style: normal; 
    font-display: swap;
 }
  
 @font-face {
  font-family: 'keighley';
  src: url('../assets/fonts/Keighley.ttf') format('truetype');
  font-style: normal; 
  font-display: swap;
}
@font-face {
  font-family: 'Afgeta';
  src: url('../assets/fonts/Afgeta-3lrK6.ttf') format('truetype');
  font-style: normal; 
  font-display: swap;
}
