

$color-primary:#FF8700;
$color-secondary:#002341;
$color-tertiary:#faf0ca;
$color-background:#fffcf0;
$color-white:#FDFFFC;


// src/styles/_variables.scss
$font-modista: 'modista';
$font-Afgeta: 'Afgeta';
$font-base: 'poppins';
$font-base-bold: 'poppins-bold';
$font-Keighley: 'Keighley';