@import './fonts';
@import './variables';



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:$color-secondary;
  
}
body{
  height:100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: $color-background;
  font-family: $font-base;
  overflow-x: hidden;
}
header{
  img{
    width: 120px;
  }
  .headerList{
    display: flex;
    gap: 16px;
    padding-right: 24px;
    padding-left: 15%;
    align-content: center;
    align-items: center;
    a{
      text-decoration: none;
      color:$color-secondary;
      font: {
        family:$font-modista;
        size: 16px;
        weight:'light';
      } 
    }
    .btns{
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      border-radius: 32px;
      background: $color-primary;
      a{
        text-decoration: none;
        color:$color-background;
        font: {
          family:$font-modista;
          size: 16px;
          weight:500;
        } 
      }
    }
  }
  background: $color-background;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height:104px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  //position:fixed;
  //z-index:88;
}
.Conteneur{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 64px;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
  //background: $color-tertiary;
  span{
    font: {
      family:$font-modista;
      size:72px;
    }
  }
  .boxbox{
    position: grid;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
  }
}

@media (max-width: 600px) {
  .boxbox {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
