@import '../styles/variables';
@import '../styles/fonts';

.Library{
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 6em;
}
.Workart{
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 98vh; 
    border-width:0px;
    border-radius: 16px;   
    border-color:$color-primary;
    border-style:solid;
    padding: 6em;
    margin: 0;
    gap: 3.5em;
    background-clip: border-box;
    overflow: hidden;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    
    .cadreImg{
        position: relative; 
        overflow: hidden; 
        border-radius: 8px;
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .ContentTy{
        display: flex;
        position: relative;
        flex-direction: column;
        height: 100%;
        justify-content: end;
        gap: 2em;
        .Titre{
            display: flex;
            position: relative;
            text-align: start;
            color: $color-tertiary;
            font: {
                size: 3em;
                family:$font-Afgeta;
                weight:600;
            }
        }
        .description{
            color: $color-background;
            text-align: start;
            line-height: 1.1;
            font: {
                size: 3em;
                family:$font-base-bold;
                weight:600;
                
            }
        }
    }
    .WorkartUrl{
        display: flex;
        position: relative;
    }

}
.Button{
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    justify-content: center;
    background: $color-background;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 4em;
    span{
        font: {
            size: 2em;
            weight:600;
            family:$font-base-bold;
        }
    }
    .icone2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
