@import '../styles/variables';
@import '../styles/fonts';

.Workart{
    /*display: flex;
    position: relative;
    justify-content: flex-start;
    width: auto;
    height: 80vh; 
    border-width:0px;
    border-radius: 16px;   
    border-color:$color-primary;
    border-style:solid;
    padding: 2em;
    margin: 0;
    background-image: url(./public/MIngaMockup.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;*/
    //background-clip: border-box;
    .Titre{
        display: flex;
        position: relative;
        color: $color-tertiary;
      // top: 60%;
        font: {
            size: 1.2rem;
            family:$font-base-bold;
            weight:600;
        }
    }
    .cadreImg{
        position: relative; 
        overflow: hidden; 
        border-radius: 8px;
        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }

}
